ccxt
pandas
numpy
python-dotenv
requests
python-telegram-bot
google-cloud-secret-manager
cryptography
matplotlib
mplfinance
Pillow
qrcode[pil]

# Future Implementations
alpaca-py
yfinance
scipy
pytz

# Web Application & API Dependencies
flask
flask-socketio
flask-cors
pyjwt
bcrypt
google-auth
firebase-admin
httpx
gunicorn
sqlalchemy
psycopg2-binary


# Optional (Install from git if needed in future to bypass PyPI resolution limitations):
# pandas-ta @ git+https://github.com/twopirllc/pandas-ta.git
simpleeval
json-repair
